In [1]:
import geopandas as gpd

fname = r"C:\Users\sheno\Downloads\export.geojson"


df1 = gpd.read_file(fname)

print(type(df1))

df1

<class 'geopandas.geodataframe.GeoDataFrame'>

,id,@id,admin_level,alt_name,alt_name:mr,boundary,loc_name,name,name:ar,name:az-Arab,...,name:ur,place,population,source,type,wikidata,wikipedia,wikipedia:ur,@geometry,geometry
0,relation/9703976,relation/9703976,6,NaN,NaN,administrative,NaN,Shahuwadi,NaN,NaN,...,NaN,NaN,NaN,Census India 2011,boundary,Q7462332,en:Shahuwadi,NaN,center,POINT (73.89486 16.96169)
1,relation/9704036,relation/9704036,6,NaN,NaN,administrative,NaN,Panhala,NaN,NaN,...,NaN,NaN,NaN,Census India 2011,boundary,Q2719424,en:Panhala,NaN,center,POINT (74.02139 16.76073)
2,relation/9704181,relation/9704181,6,NaN,NaN,administrative,NaN,Hatkanangle,NaN,NaN,...,NaN,NaN,NaN,Census India 2011,boundary,NaN,en:Hatkanangle,NaN,center,POINT (74.35234 16.74560)
3,relation/9704321,relation/9704321,6,NaN,NaN,administrative,NaN,Shirol,NaN,NaN,...,NaN,NaN,NaN,Census India 2011,boundary,NaN,NaN,NaN,center,POINT (74.57352 16.71143)
4,relation/9704525,relation/9704525,6,NaN,NaN,administrative,NaN,Kolhapur,كولهابور,NaN,...,کولہاپور,NaN,NaN,Census India 2011,boundary,NaN,NaN,NaN,center,POINT (74.18994 16.65949)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,relation/10356053,relation/10356053,6,NaN,NaN,administrative,NaN,Vaibhavwadi,NaN,NaN,...,NaN,NaN,NaN,NaN,boundary,Q7908692,en:Vaibhavwadi taluka,NaN,center,POINT (73.77356 16.53203)
351,relation/10356203,relation/10356203,6,NaN,NaN,administrative,NaN,Khanapur,NaN,NaN,...,NaN,NaN,NaN,NaN,boundary,Q106996445,NaN,NaN,center,POINT (74.65244 17.29129)
352,relation/10356204,relation/10356204,6,NaN,NaN,administrative,NaN,Kadegaon,NaN,NaN,...,NaN,NaN,NaN,NaN,boundary,Q106996245,NaN,NaN,center,POINT (74.37414 17.27609)
353,relation/10356205,relation/10356205,6,NaN,NaN,administrative,NaN,Atpadi,NaN,NaN,...,NaN,NaN,NaN,NaN,boundary,Q106995990,NaN,NaN,center,POINT (74.86242 17.42712)
354,relation/10356363,relation/10356363,6,NaN,NaN,administrative,NaN,Sironcha,NaN,NaN,...,NaN,NaN,NaN,NaN,boundary,NaN,NaN,NaN,center,POINT (80.10556 18.91256)

In [2]:
df1.drop( ['id', '@id','admin_level','alt_name','alt_name:mr','boundary','loc_name','name:ar','name:az-Arab','name:azb','name:de','name:el', 'name:en', 'name:es', 'name:fa', 'name:hi', 'name:hy','name:ks', 'name:mr', 'name:pa', 'name:pnb', 'name:ps', 'name:ru','name:sv', 'name:uk', 'name:ur', 'place', 'population', 'source','type', 'wikidata', 'wikipedia', 'wikipedia:ur', '@geometry'] , axis=1, inplace=True)

In [3]:
print(df1)

            name                   geometry
0      Shahuwadi  POINT (73.89486 16.96169)
1        Panhala  POINT (74.02139 16.76073)
2    Hatkanangle  POINT (74.35234 16.74560)
3         Shirol  POINT (74.57352 16.71143)
4       Kolhapur  POINT (74.18994 16.65949)
..           ...                        ...
350  Vaibhavwadi  POINT (73.77356 16.53203)
351     Khanapur  POINT (74.65244 17.29129)
352     Kadegaon  POINT (74.37414 17.27609)
353       Atpadi  POINT (74.86242 17.42712)
354     Sironcha  POINT (80.10556 18.91256)

[355 rows x 2 columns]